<div class="jumbotron">
    <h1>
        <img src="~/Content/images/ybq-xs.png" alt="YBQ" />
        <span class="opaque-max">YBQ</span>&diams;APP
    </h1>
    <p>
        This is a sample application created along the guidelines of
        <a href="http://www.amazon.com/Modern-Web-Development-Understanding-technologies/dp/1509300015/ref=sr_1_3">
            Modern Web Apps
        </a>
        book.
    </p>

</div>

<a class="btn btn-primary btn-lg" href="@Url.Action("Throw", "Sample")" role="button">Throw</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Download", "Sample")" role="button">Async</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Form", "Sample")" role="button">Form</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("LargeForm", "Sample")" role="button">Large Form</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Admin")" role="button">Private Area</a>